<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.loto.party.mapper.PartyMapper">
    <select id="getJoinedMemberSize" resultType="int">
        SELECT
            (SELECT COUNT(DISTINCT c.user_id)
            FROM party_member pm
            JOIN characters c ON pm.character_id = c.id
            WHERE pm.party_id = #{partyId}
            ) AS member_count
        FROM DUAL
    </select>

    <select id="isPartyMember" resultType="boolean">
        SELECT
            COUNT(*) > 0
        FROM party_member pm
        JOIN characters c ON pm.character_id = c.id
        WHERE pm.party_id = #{partyId}
        AND c.user_id = #{userId}
    </select>

    <select id="isAlreadyJoinedCharacter" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM party_member
            WHERE party_id = #{partyId}
            AND character_id IN
            <foreach item="characterId" collection="characterIds" open="(" separator="," close=")">
                #{characterId}
            </foreach>
        )
    </select>

    <select id="getPartyLeaderCharactersSize" resultType="int">
        SELECT
            COUNT(1)
        FROM party_member pm
        JOIN characters c ON pm.character_id = c.id
        JOIN parties p ON pm.party_id = p.id
        WHERE pm.party_id = #{partyId}
        AND p.user_id = c.user_id
    </select>

    <select id="findMyParties" resultType="gg.loto.party.web.dto.PartyListResponse">
        SELECT DISTINCT
            p.id AS partyId,
            p.name AS partyName,
            u.nickname AS leaderNickname,
            p.capacity,
            p.party_type AS partyType,
            COUNT(DISTINCT c.user_id) AS currentJoinedMembers
        FROM parties p
        JOIN users u ON p.user_id = u.id
        JOIN party_member pm ON p.id = pm.party_id
        JOIN characters c ON pm.character_id = c.id
        WHERE c.user_id = #{userId}
        GROUP BY p.id, p.name, u.nickname, p.capacity, p.party_type
        ORDER BY p.id
    </select>

    <resultMap id="memberCharacterResultMap" type="gg.loto.party.web.dto.MemberCharacters">
        <constructor>
            <arg column="id" javaType="Long"/>
            <arg column="server_name" javaType="String"/>
            <arg column="character_name" javaType="String"/>
            <arg column="character_class_name" javaType="String"/>
            <arg column="item_max_level" javaType="String"/>
            <arg column="nickname" javaType="String"/>
            <arg column="discord_username" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="findMemberCharactersPaging" resultMap="memberCharacterResultMap">
       <if test="lastCharacterId != null">
           <![CDATA[
                WITH last_character AS (
                    SELECT
                        user_id as last_user_id,
                        item_max_level as last_item_level,
                        id as last_id
                    FROM characters
                    WHERE id = #{lastCharacterId}
                )
           ]]>
       </if>
        <![CDATA[
            SELECT
                c.id,
                c.server_name,
                c.character_name,
                c.character_class_name,
                c.item_max_level,
                u.nickname,
                u.discord_username
            FROM party_member pm
            JOIN characters c ON pm.character_id = c.id
            JOIN users u ON c.user_id = u.id
            WHERE pm.party_id = #{partyId}
        ]]>
        <if test="lastCharacterId != null">
            <![CDATA[
                AND (
                    c.user_id > (SELECT user_id FROM last_character)
                    OR (
                        c.user_id = (SELECT user_id FROM last_character)
                        AND (
                            c.item_max_level < (SELECT item_max_level FROM last_character)
                            OR (
                                c.item_max_level = (SELECT item_max_level FROM last_character)
                                AND c.id > (SELECT id FROM last_character)
                            )
                        )
                    )
                )
            ]]>
        </if>
        <![CDATA[
            ORDER BY c.user_id ASC, c.item_max_level DESC, c.id ASC
            LIMIT #{pageSize}
        ]]>
    </select>
</mapper>