<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.loto.party.mapper.PartyMapper">
    <select id="getJoinedMemberSize" resultType="int">
        SELECT
            (SELECT COUNT(DISTINCT c.user_id)
            FROM party_member pm
            JOIN characters c ON pm.character_id = c.id
            WHERE pm.party_id = #{partyId}
            ) AS member_count
        FROM DUAL
    </select>

    <select id="isAlreadyJoinedUser" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 
            FROM party_member pm 
            JOIN characters c ON pm.character_id = c.id
            WHERE pm.party_id = #{partyId} 
            AND c.user_id = #{userId})
    </select>

    <select id="isAlreadyJoinedCharacter" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM party_member
            WHERE party_id = #{partyId}
            AND character_id IN
            <foreach item="characterId" collection="characterIds" open="(" separator="," close=")">
                #{characterId}
            </foreach>
        )
    </select>

    <select id="getPartyLeaderCharactersSize" resultType="int">
        SELECT
            COUNT(1)
        FROM party_member pm
        JOIN characters c ON pm.character_id = c.id
        JOIN parties p ON pm.party_id = p.id
        WHERE pm.party_id = #{partyId}
        AND p.user_id = c.user_id
    </select>

    <select id="findMyParties" resultType="gg.loto.party.web.dto.PartyListResponse">
        SELECT DISTINCT
            p.id AS partyId,
            p.name AS partyName,
            u.nickname AS leaderNickname,
            p.capacity,
            p.party_type AS partyType,
            COUNT(DISTINCT c.user_id) AS currentJoinedMembers
        FROM parties p
        JOIN users u ON p.user_id = u.id
        JOIN party_member pm ON p.id = pm.party_id
        JOIN characters c ON pm.character_id = c.id
        WHERE c.user_id = #{userId}
        GROUP BY p.id, p.name, u.nickname, p.capacity, p.party_type
        ORDER BY p.id
    </select>
</mapper>